.illustration {
  min-height: 32vw;
}

.illustration::before {
  @apply bg-primary-200  absolute rounded-full top-0 left-1/2 transform -translate-x-1/2 -translate-y-3/4 lg:fixed lg:top-1/2 lg:left-0 lg:-translate-x-1/2 lg:-translate-y-1/2;

  content: '';
  width: 125vw;
  height: 125vw;
  z-index: -1;
}

.wordmark {
  fill: rgba(4, 120, 87, 1);
}
